body {
    margin:0;
    background-image: url("../images/back3.jpg");
    background-repeat: repeat;
  }

  h1{
    color: #777777;
    font-size: 38px;
    font-family: 'Arial', 'Helvetica Nesue', Helvetica, sans-serif;
      }

  p {
    color: #777777;
    font-size: 18px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
      }
    
    a{
    color: #777777;
    font-family: 'Arial', 'Helvetica Nesue', Helvetica, sans-serif;
    }

    .header{
    overflow: hidden;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 2px solid#cccccc;
    }
    
    .header a{
    color: #777777;
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    }

.nav-link{
  color: #777777;
  text-align: right;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  }

.name{
    font-size: 2em;
    margin-right: 500px;
    padding: 20px;
    width: 280px;
    height: 97px;
    color: white !important;
    background: #4aaaa5;
}

.navbar{
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #777777;
    height: 100px;
}


.pic{
    float: left;
    width: 25%;
    height: auto;
    margin-right: 30px;
    margin-top: 12px;
    margin-bottom: 30px;
  }


  .main_text{
    color: #4aaaa5;
}

.picture{
    margin: 10px;
}

.main{
    margin: 30px auto;
    border: 2px solid #dddddd;
    background-color:#ffffff;
    width: 960px;
    height: 100%;
    padding: 25px;
}

.copyright{
    text-align: center;
}

.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 100px;
padding: 30px 10px;
border-top: 8px solid #4aaaa5;
background-color: #666666;
}


label{
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777777;
      }
      
      
      input[type=text], select, textarea{
        color: #777777;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #4aaaa5;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .container {
        border-radius: 5px;
        padding: 20px;
      }